{% extends 'index.html.twig' %}

{% block content %}
<div class="container">
  <h1>Etablissements :</h1>
  
  {% if etablissement is null %}
    <h1>Il n'y a pas de données sur l'établissement dans la base de données...</h1>
  {% endif %}


    <div class="card mb-3">
      <div class="card-header ">
        <h2 class="card-title">Etablissement : {{ loop.index }}</h2>
        <form  method="GET" name="id" action="../Etablissement/update_etablissement.php" >
          <input id="update" name="prodId" type="hidden" value="{{ etablissement.id }}">
          <button type="submit" class="btn btn-info ">Modifier</button>
        </form>
        <form  method="GET" name="id" action="../Etablissement/delete_etablissement.php" >
          <input id="update" name="idEtablissement" type="hidden" value="{{ etablissement.id }}">
          <button type="submit" class="btn btn-danger ">Supprimer</button>
        </form>
        </div>
      <div class="card-body">
        <h3 class="card-subtitle mb-2">ID: {{ etablissement.id }}</h3>
        <h4 class="card-text">Id prevarisc: {{ etablissement.idPrevarisc }}</h4>
        {% if eta.estImporte == true %}
          <p class="card-text text-success"><b>Est importé</b></p>
        {% else %}
            <p class="card-text text-warning"><b>N'est pas importé</b></p>
        {% endif %}
        <p class="card-text">Date de création: {{ etablissement.date_creation|date("d/m/Y") }}</p>
      </div>
    </div>

</div>
{% endblock %}
